profiles {
    standard {
        process {
            withName: 'Trim' {
                cpus = 6
                memory = 10.GB
            }
            withName: 'Align' {
                cpus = 6
                memory = 10.GB
            }
        aws.client.maxParallelTransfers = 4
    }
    testing {
        process {
            cpus = 2
            memory = 4.GB
        }
    } 
  }
}